:root {

    /* https://catppuccin.com/palette */

    --cpcm-rosewater: #dc8a78;
    --cpcm-flamingo: #dd7878;
    --cpcm-pink: #ea76cb;
    --cpcm-mauve: #8839ef;
    --cpcm-red: #d20f39;
    --cpcm-maroon: #e64553;
    --cpcm-peach: #fe640b;
    --cpcm-yellow: #df8e1d;
    --cpcm-green: #40a02b;
    --cpcm-teal: #179299;
    --cpcm-sky: #04a5e5;
    --cpcm-sapphire: #209fb5;
    --cpcm-blue: #1e66f5;
    --cpcm-lavender: #7287fd;
    --cpcm-text: #4c4f69;
    --cpcm-subtext1: #5c5f77;
    --cpcm-subtext0: #6c6f85;
    --cpcm-overlay2: #7c7f93;
    --cpcm-overlay1: #8c8fa1;
    --cpcm-overlay0: #9ca0b0;
    --cpcm-surface2: #acb0be;
    --cpcm-surface1: #bcc0cc;
    --cpcm-surface0: #ccd0da;
    --cpcm-base: #eff1f5;
    --cpcm-mantle: #e6e9ef;
    --cpcm-crust: #dce0e8;
}