.card {
    background: var(--cpcm-base);

    /* Shape */

    padding: 2em;
    border-radius: 2em;

    /* Card Shadow */

    box-shadow:  11px 15px rgba(0, 0, 0, 0.2), 0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12);

    /* Content */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.identity {
    border-bottom: 2px solid grey;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.portrait_disc {
    background: var(--cpcm-overlay0);
    width: 12em;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 12px 17px rgba(0, 0, 0, 0.14), 0 2px 22px rgba(0, 0, 0, 0.12);
}

.portrait {
    width: 10em;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 12px 17px rgba(0, 0, 0, 0.14), 0 2px 22px rgba(0, 0, 0, 0.12);
}

.name {
    font-size: 2.5em;
    color: var(--cpcm-text);
}

.tag {
    color: var(--cpcm-subtext0);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    background: var(--background-colour);
    color: var(--text-colour);
    border: 1px solid var(--background-colour);
}

.link_bar:hover {
    background: var(--text-colour);
    color: var(--background-colour);
}

.link_bar_icon {
    width: 1.3em;
    height: auto;
}

.link_bar_text {
    flex: 1;
    text-align: center;
}

.github {
    --background-colour: black;
    --text-colour: white;
}

.twitter {
    --background-colour: #221122;
    --text-colour: white;
}

.linkedin {
    --background-colour: #0077B5;
    --text-colour: white;
}

.website {
    --background-colour: orangered;
    --text-colour: white;
}

.email {
    --background-colour: #0072C6;
    --text-colour: white;
}